---
/* src/components/learning/Section08.astro */
import LearningSection from "./LearningSection.astro";
import { useTranslations } from "../../i18n/utils";
const { lang = "zh-TW" } = Astro.props;
const t = useTranslations(lang as any);
---

<LearningSection id="s8" num="09" tag={t('learning.s8.tag')} wide={true}>
    <p slot="text" class="big-text" set:html={t('learning.s8.text')}>
    </p>
    <div slot="viz" id="viz-abtest">
        <div class="chart-container">
            <p class="chart-title">{t('learning.s8.chart_title')}</p>
            <canvas class="chart-canvas" id="ab-canvas" height="180"></canvas>
        </div>
    </div>
</LearningSection>
